<h1>User info</h1>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no-image.jpg" %>


<% if @user.id == current_user.id %>
  <p><%= link_to "プロフ編集", edit_user_path(@user) %></p>
<% end %>