<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= render 'books/list', book: @book, user: @user %>
<h1> Books</h1>
<table>
  <tbody>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </tbody>
</table>